.movieslist {
	margin: 0 auto;
  max-width: 1280px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: #202020;
}

.movieslist__section {
	margin: 0 auto;
	width: 100%;
  display: flex;
  align-items: center;
	max-width: 1280px;
	padding: 70px 70px 10px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
}

.cards__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 37px 24px;
	justify-content: center;
	list-style-type: none;
	padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 769px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .movieslist__section {
    padding: 70px 30px 30px;
  }
}

@media screen and (max-width: 450px) {
  .cards__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 14px;
  }

  .movieslist__section {
    padding: 40px 10px 26px;
  }
}