.card {
  display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	max-width: 364px;
}

.card__block {
  display: flex;
	flex-direction: column;
	width: 100%;
  background-color: #222222;
	position: relative;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  list-style: none;
  min-height: 262px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin: 0 27px 16px 16px;
  gap: 10px;
}

.card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin: 0 0 17px;

}

.card__duration {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8B8B8B;
  margin: 0;
}

.card__pic {
  object-fit: cover;
	width: 100%;
	border-radius: 6px;
  margin: 0 0 16px;
  height: 190px;
}

.card__box {
  height: 201px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	cursor: inherit;
}

.card__like {
  background: url(../../images/saved-film_button.svg) no-repeat center;
  width: 14px;
  height: 12px;
  padding: 0;
  background-color: #222222;
  transition: opacity 0.3s ease;
  object-fit: contain;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.8;
}

.card__like_active {
  background: url(../../images/unsaved-film_button.png) no-repeat center;
  width: 14px;
  height: 12px;
}

.card__delete {
  background: url(../../images/delete-film_button.svg) no-repeat center;
  width: 14px;
  height: 12px;
  padding: 0;
  background-color: #222222;
  transition: opacity 0.3s ease;
  object-fit: contain;
  cursor: pointer;
}

.card__delete:hover {
  opacity: 0.8;
}

.card__button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 769px) {
  .card__pic {
    margin: 0 0 14px;
  }

  .card__info {
    margin: 0 20px 14px 14px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    max-width: 430px;
  }

  .card__title {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 14px;
  }

  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}