.search {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
	padding: 0;
  background-color: #202020;
  padding: 0 70px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-movies {
  display: flex;
  position: relative;
}

.search__container {
  padding: 80px 0 10px;
  margin: 0;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  max-height: 48px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  margin: 0 0 31px;
  width: 100%;
}

.item-error {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #EE3465;
  text-align: center;
}

.search__input {
  margin: 0 10px 0 0;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #2F2F2F;
  padding: 15px 22px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8B8B8B;
  outline: none;
  z-index: 3;
}

.search__input:focus {
  box-shadow: 0 0 7px #8B8B8B;
}

.search__button {
  min-width: 70px;
  min-height: 44px;
  background-color: #4285F4;
  border: none;
  border-radius: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  cursor: pointer;
	transition: 0.5s ease;
	opacity: 1;
  margin: 0;
  padding: 0;
}

.search__button:hover {
  opacity: 0.8;
}

.search__line {
  width: 100%;
  height: 1px;
  background-color: #424242;
}

@media screen and (max-width: 769px) {
  .search__toggle {
    margin: 0 0 40px 0;
  }

  .search {
    padding: 0 30px;
  }

  .search__container {
    padding: 80px 0 10px;
    margin: 0;
    background-color: #202020;
  }
}

@media screen and (max-width: 450px) {
  .search {
    padding: 14px;
  }

  .search__container {
    padding: 81px 0 10px;
  }

  .search__form {
    margin: 0 auto 45px;
  }

  .search__input {
    font-size: 12px;
    padding: 13px 16px;
  }

  .search__title {
    font-size: 11px;
  }
}