.register {
	display: flex;
	flex-direction: column;
	align-items: center;
  background-color: #202020;
  padding: 70px 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.register__block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 396px;
	width: 100%;
}

.register__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
	margin: 40px 0 40px;
	padding: 0;
	box-sizing: border-box;
}

.register__form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 396px;
}

.register__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 24px 0;
  padding: 0;
}

.register__input:last-of-type {
  margin: 0;
}

.register__input-name {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
	margin: 0 0 5px;
}

.register__field {
	background: #202020;
	width: 100%;
	height: 28px;
  border: none;
  padding: 0 0 10px 0;
	border-bottom: 1px solid #424242;
	outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
	box-sizing: border-box;
  color: #fff;
}

.register__field_password {
	color: #ee3465;
}

.register__form_button {
	width: 100%;
	max-width: 396px;
	height: 45px;
	margin: 110px 0 16px;
	align-items: center;
	border: none;
	box-sizing: border-box;
	background: #4285F4;
	border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}


.register__form_button:hover {
	opacity: 0.8;
	cursor: pointer;
}

.register__signin {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.register__input_error {
	font-weight: 400;
	font-size: 10px;
	line-height: 12.1px;
	color: #ee3465;
	display: block;
	margin-top: 10px;
	min-height: 12px;
	pointer-events: none;
}

.register__link-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
	margin: 0 6px 0 0;
}

.register__login-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
	text-decoration: none;
}

.register__login-link:hover {
	opacity: 0.7;
}

@media screen and (max-width: 450px) {
  .register{
    padding: 56px 30px 30px;
  }

	.register__block {
	  align-items: center;
	}

	.register__heading {
		margin: 50px auto 80px;
	}

	.register__form {
		width: 100%;
    margin: 0;
	}

	.register__form-button {
		margin: 198px 0 14px;
		font-size: 12px;
		line-height: 15px;
	}

	.register__link_title {
		margin: 0 7px 0 0;
		font-size: 12px;
		line-height: 15px;
	}

	.register__login-link {
		font-size: 12px;
		line-height: 15px;
	}
}